*{
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}
h3{
  margin:30px auto;
  padding: 10px;
  width: 200px;
  display:block;
  text-align: center;
  text-decoration: underline dashed;
  text-decoration-color: rgba(68, 68, 68, 0.543);
  background-color: rgba(209, 209, 209, 0.2);
}

.main-form p{
  text-align: center;
}